:host {
  display: inline-flex;
  align-items: center;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  padding: 10x;
  border-radius: 5px;
}

:host(.medium) {
  padding: 10px;
}

:host(.small) {
  padding: 4px;
}

:host(.large) {
  padding: 15px;
}

:host(.blue) {
  background-color: #00f;
}

:host(.red) {
  background-color: #f00;
}

:host(.green) {
  background-color: #0f0;
}
