:host {
  display: inline-flex;
  align-items: center;
  background-color: var(--color-dark, #f0f);
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  padding: var(--padding-medium);
  border-radius: 5px;
}

:host(.blue) {
  background-color: var(--color-blue);
}

:host(.red) {
  background-color: var(--color-red);
}

:host(.green) {
  background-color: var(--color-green);
}

:host(.small) {
  padding: var(--padding-small);
  font-size: var(--font-size-small);
}

:host(.medium) {
  padding: var(--padding-medium);
  font-size: var(--font-size-medium);
}

:host(.large) {
  padding: var(--padding-large);
  font-size: var(--font-size-large);
}
