body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  --color-dark: #000;
  --color-blue: #00f;
  --color-red: rgb(134, 12, 12);
  --color-green: rgb(0, 122, 55);

  --padding-extra-small: 2px;
  --padding-small: 4px;
  --padding-medium: 6px;
  --padding-large: 10px;
  --padding-extra-large: 15px;

  --font-size-extra-small: 8px;
  --font-size-small: 10px;
  --font-size-medium: 14px;
  --font-size-large: 16px;
  --font-size-extra-large: 18px;
}
