// Colors
$color-blue: #3880ff;
$color-blue-rgb: 56, 128, 255;
$color-blue-contrast: #ffffff;
$color-blue-contrast-rgb: 255, 255, 255;
$color-blue-shade: #3171e0;
$color-blue-tint: #4c8dff;

$color-green: #3caf6a;
$color-green-rgb: 60, 175, 106;
$color-green-contrast: #ffffff;
$color-green-contrast-rgb: 0, 0, 0;
$color-green-shade: #359a5d;
$color-green-tint: #50b779;

$color-orange: #f19c09;
$color-orange-rgb: 241, 156, 9;
$color-orange-contrast: #000000;
$color-orange-contrast-rgb: 0, 0, 0;
$color-orange-shade: #d48908;
$color-orange-tint: #f2a622;

$color-red: #e82626;
$color-red-rgb: 232, 38, 38;
$color-red-contrast: #ffffff;
$color-red-contrast-rgb: 255, 255, 255;
$color-red-shade: #cc2121;
$color-red-tint: #ea3c3c;

$color-dark: #222428;
$color-dark-rgb: 34, 36, 40;
$color-dark-contrast: #ffffff;
$color-dark-contrast-rgb: 255, 255, 255;
$color-dark-shade: #1e2023;
$color-dark-tint: #383a3e;

$color-gray: #92949c;
$color-gray-rgb: 146, 148, 156;
$color-gray-contrast: #000000;
$color-gray-contrast-rgb: 0, 0, 0;
$color-gray-shade: #808289;
$color-gray-tint: #9d9fa6;

$color-light: #dfe0e1;
$color-light-rgb: 223, 224, 225;
$color-light-contrast: #000000;
$color-light-contrast-rgb: 0, 0, 0;
$color-light-shade: #c4c5c6;
$color-light-tint: #e2e3e4;

// Spacing
$spacing-extra-small: 2px;
$spacing-small: 4px;
$spacing-medium: 6px;
$spacing-large: 10px;
$spacing-extra-large: 15px;

// Border radius
$radius-extra-small: 2px;
$radius-small: 4px;
$radius-medium: 6px;
$radius-large: 10px;
$radius-extra-large: 15px;

// Typography
$font-size-extra-small: 8px;
$font-size-small: 10px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-extra-large: 18px;

// Height
$height-extra-small: 18px;
$height-small: 28px;
$height-medium: 34px;
$height-large: 38px;
$height-extra-large: 44px;
